.taskContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.taskSeparator {
    border-top: 1px solid #ccc;
    margin-top: 20px; /* Adjust the margin as needed for spacing */
}

.taskInfo {
    flex: 1; /* Take up remaining space */
}

.taskButtons {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: flex-end;
}


.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #0056b3;
    }

.deleteButton {
    background-color: #ff0000; /* Red background color for the Delete button */
    /* Add any additional styling for the Delete button here */
}

    .deleteButton:hover {
        background-color: #cc0000; /* Darker red on hover */
    }
